@model List<FirePuckStore.Models.Order>

<aside id="shoppingCart">
    <div id="cartBlock">
        <p id = "cartQuantity">@Model.Count</p>
        <img id="cartIco" src="/Content/Images/Cart.png"/>
        <br/>
    </div>    

    @foreach(var order in Model)
    {
        <div class="cartItem">
            <img class = "cartImg" ordercardid = "@order.Card.CardId" draggable="false"  src="@order.Card.ImageUrl"/>
            <br/>
            <h6>Qnty:</h6><span class="pricequantity"> @order.Quantity</span>
            <br/>
            <h6>Price:</h6><span class="pricelabel"> @order.Price</span>
        </div>
    }
</aside>