@model IDictionary<string, List<FirePuckStore.Models.Card>>
@{
    ViewBag.Title = "Store";
}

@{
    Html.RenderAction("Details", "Cart");
}

<header>
    <p  style = "width: 60%;">Here you can see all the cards grouped by categories. To add any card to Cart just drag one and drop it to the Cart. To remove item from the Cart, click on desired item in the Cart.</p>
</header>

<div id="categorySection">
    @{
        foreach (var category in Model)
        {
        <h3>
            <a href="#">@category.Key</a></h3>
        <div>
            @foreach (var card in category.Value)
            {
                <div class="cartItem">
                    <img cardid = "@card.CardId" src= @card.ImageUrl title="@card.Description" alt="@card.Description" @(card.Quantity > 0 ? "draggable=true" : "draggable=false class = noItemsInStore") />
                        @{

                            if (card.Quantity > 0)
                            {
                                <br />
                                <h6>
                                    Qnty:</h6>
                                <span>@card.Quantity</span>
                                <br />
                                <h6>
                                    Price:</h6>
                                <span>@card.Price</span>
                            }
                            else
                            {
                                <br />                        
                                <h6>
                                    Not in stock</h6>                        
                                <br />                        
                                <h6 />
                            }
                        }
                    </div>
            }
        </div>
        }
    }
</div>
@section Scripts
{
    <script src="/Scripts/cart.js" type="text/javascript"> </script>
}
