@model FirePuckStore.Models.Player

@{
    ViewBag.Title = "Add Player";
}

<header>
    <p class="inlineDisplay">Here you can fill required fields. To upload image click on image area and choose a required image file</p>
</header>

@using (Html.BeginForm("Create", "Player", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Card</legend>
         @Html.Partial("_ImageUploader", Model.ImageUrl)
             <div class="editor-label">
            @Html.LabelFor(model => model.LeagueId, "League")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.LeagueId, (IEnumerable<SelectListItem>)ViewBag.LeagueIdList, String.Empty)
            @Html.ValidationMessageFor(model => model.LeagueId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <p>
            <button type="submit" value="Create">
                Create</button>
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/ui.selectmenu.js" type="text/javascript"></script>
    <script src="/Scripts/ui.imageselector.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('button').button();
            $('select').selectmenu();
        })
    </script>
}

    