@model FirePuckStore.Models.Card
@{
    ViewBag.Title = "Create Card";
}
<h2>
    Create</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Card</legend>
        <div class="editor-image">
            <img id="cardLogo" src="~/Content/images/datsyk1.jpg"></img>
            <div id ="customFileDialog" class="editor-input" style="width: 270px; cursor: pointer">
                <span id="filePath" style="font-size: small; display: inline-block; margin: 0px 0px 0px 15px;">No file selected...</span>
                <button type="button" id='uploadLogo' style="display: inline-block; font-size: x-small; float: right">
                    Upload</button>
                @*<button id = 'uploadLogo' style="display: block">Upload Logo</button>*@
                <input type="file" id="fileInput" accept="image/jpeg,image/gif,image/x-png" onchange="handleFiles(this.files)"
                    style="visibility: hidden; position: absolute; top: -50; left: -50" />
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.PlayerId, "Player")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PlayerId", String.Empty)
            @Html.ValidationMessageFor(model => model.PlayerId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Quantity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Quantity)
            @Html.ValidationMessageFor(model => model.Quantity)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>
        <p>
            <button type="submit" value="Create">
                Create</button>
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/ui.selectmenu.js" type="text/javascript"></script>
    <script type="text/javascript">
        
        function upload() {
            $('#fileInput').click();
        }

        function handleFiles(files) {
            var file = files[0];
            $('#filePath').text(file.name);
            $('#cardLogo').attr('src', file.name);            
        }
        
        function onFileReadComplete(event) {
            // Do something fun with your file contents.
        }

        $(document).ready(function () {

            $('button').button();
            $('#customFileDialog').mousedown(function (e) {
                $('#fileInput').click();

/*
                upload();
*/
            });

/*
            $('#fileInput').change(function(files) {
                handleFiles(files);
            });
*/

            $('select').selectmenu();
        })
    </script>
}
