@model IEnumerable<FirePuckStore.Models.Card>
@{
    ViewBag.Title = "Cards";
}
<header>
    <p class="inlineDisplay">Here you can see all the cards and enjoy sharing you own cards with others! Just click</p><span> @Html.ActionLink("here", "Create", new object(), new { id = "inlineDisplay" })</span> <p class="inlineDisplay">and upload your own card!</p>
</header>
@foreach (var item in Model)
{
    <div id="viewCard">
        <img class="cardImg" title="@item.Description" src="@item.ImageUrl"/>
        <div class="table">
            <div class="row">
                <p>
                    @Html.DisplayNameFor(model => model.Category)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Category)
                </p>
            </div>
            <div class="row">
                <p>
                    @Html.DisplayNameFor(model => model.Player.FullName)
                </p>
                <p>
                    @Html.ActionLink(item.Player.FullName, "Edit", "Player", new { id = item.PlayerId }, null)

                </p>
            </div>
            <div class="row">
                <p>
                    @Html.DisplayNameFor(model => model.Quantity)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </p>
            </div>
            <div class="row">
                <p>
                    @Html.DisplayNameFor(model => model.Price)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Price)
                </p>
            </div>
        </div>
        <div class="cardAction">
            @Html.ActionLink("Edit", "Edit", new { id = item.CardId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CardId }, new { @class = "deleteCard" })
        </div>
    </div>
}
<div id="dialog" title="Confirm">
    Are you sure you want to delete the card?
    <form id="confirm" method="post">
        <p>
            <input id ="OKButton" type="submit" value="OK" tabindex="1" />
            <button id="cancelButton" tabindex="0">Cancel</button>
        </p>
    </form>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Scripts/deletedialog.js"></script>
}
